.main-stat {
  width: 90%;
  height: auto;
  text-align: center;
  margin: auto;
  margin-top: 60px;
  justify-items: center;
  justify-content: center;
  gap: 5px;
}

.main-stat h2 {
  font-size: 45px;
  font-weight: 700;
}

.upper > img {
  border: none;
  box-shadow: 0 0 10px rgb(23, 169, 182);
  transition: transform 0.3s ease-in-out; /* Added transition for hover effect */
}

.lower > img {
  box-shadow: 0 0 10px rgb(23, 169, 182);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out; /* Added transition for hover effect */
}

.upper > img:hover,
.lower > img:hover {
  transform: scale(1.1);
}

.disstat {
  justify-content: center;
  justify-items: center;
  gap: 5px;
}

@media only screen and (max-width: 720px) {
  .main-stat {
    margin: auto;
  }
}

@media only screen and (max-width: 400px) {
  .disstat {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .disstat img {
    width: 100%;
  }
}
