.skill {
   
    padding: 0;
    
  }

  .item{
    margin-top: 20px;

    padding: 20px;
    box-shadow: 0 0 10px rgb(23, 169, 182);
    border-radius: 10px;
      margin-right:180px ;
      margin-bottom: 30px;
  }

  .skill-bx {
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -70px;
    gap: 10px;
  }

  
  .skill h2 {
      font-size: 45px;
      font-weight: 700;
  }
  

  .skill-slider .item img {
    width: 80%;
  }
  
  .item:hover{
    transform: scale(1.1); 
    
  }

  .background-image-left {
    top: 28%;
    position: absolute;
    bottom: 0;
    width: 40%;
    z-index: -4;
  }