/* @import url("https://fonts.googleapis.com/css2?family=Lato:wgh@100;300;400;700;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Rubik:wgh@300;400;500;600&display=swap"); */


/*====== base style ==== == */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0E1B31;
  background-image: url(./assets//bg-texture.png);
 }

/* 
 body {
  background: #0E1B31;
 }
  */

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  background: #0E1B31;
   line-height: 1.7;
   background-image: url(./assets//bg-texture.png);
}

 html{
   scroll-behavior: smooth;
 }

 h1 ,h2 , h3 , h4 , h5 {
  color: #fff;
  font-family: "Lato" , sans-serif;
  margin: 0;
 }

 h1 ,h2 {
  font-size: 2rem;
  font-weight: 500;
 }

 p{
  color: #fff;
  opacity: 75%;
  font-size: 1rem;
  font-family: "Rubik" ,sans-serif;
  font-weight: 400;
 }

 ul {
  list-style: none;
  margin: 0;
 }
 a{
  color: unset;
  font-family: "Lato" , sans-serif;
 }
 a:hover{
  color: unset;
 }

section ,footer{
  padding: 60px 0px;
}



